.gridOne {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridTwo {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.divOne {
  background-color: lightblue;
}

.divTwo {
  background-color: yellow;
}

.divThree {
  background-color: pink;
}

.gridThree {
  width: 500px;
  height: 300px;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.divFour {
  background-color: lightgoldenrodyellow;
}

.divFive {
  background-color: lightsalmon;
}

.divFive img {
  width: 500px;
  height: 225px;
  object-fit: cover;
}

.gridFour {
  background-color: green;
  width: 500px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#divSeven {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridFive {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 500px;
}

#divNine {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 100px;
}

#divNine img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.gridSix {
  display: flex;
  align-items: center;
  width: 500px;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.gridSix i {
  text-align: center;
  font-size: 2rem;
}
.gridSix p {
  font-family: "Pacifico", serif;
}
